<h1>Edit Generator</h1>

<%= form_tag "/generators/#{@generator.id}", :method => "patch" do %>
  <div>
    <label>Queue :</label>
    <input type="text" name="queue" value="<%= @generator.queue %>">
  </div>

  <div>
    <label>Project Name :</label>
    <input type="text" name="projectname" value="<%= @generator.project_name %>">
  </div>


  <div>
    <label>MW :</label>
    <input type="text" name="mw" value="<%= @generator.mw %>">
  </div>
  
  
  <div>
    <label>In Service Date :</label>
    <input type="text" name="inservicedate" value="<%= @generator.inservice_date %>">
  </div>
      

  <label>Fuel Type :</label>
  <select name="fuel_id">

  <% Fuel.all.each do |d| %>
      <option value="<%= d.id %>"><%= d.fueltype %></option>
    <% end %>
  </select>
    
  <div>
    <label>County :</label>
    <input type="text" name="county" value="<%= @generator.county %>">
  </div>
      
  <label>State :</label>
  <select name="state_id">
  <% State.all.each do |d| %>
      <option value="<%= d.id %>"><%= d.name %></option>
    <% end %>
  </select>
  <div>
  <input type="submit" value="Update Generator">
</div>
<% end %>
