<h1>Generator Queue : <%= @generator.queue%></h1>
<p>This is a <%= @generator.project_name%> project. It has a capacity of <%= @generator.mw%>MW. It is going to be located
in <%= @generator.county%> County, <%= @generator.state%>.
It is going to be powered by <%= @generator.fueltype%> and in service by <%= @generator.inservice_date%></p>


<h3> More about the project to come ..... PAGE UNDER CONSTRUCTION </h3>
