<h1>STATES </h1>

<%= link_to("Add New State", "states/new") %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th width="30%">State Name</th>
      <th width="30%"> Number of Generators </th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @states.each do |state| %>
      <tr>

        <td><%= state.name %></td>
        <td><%= Generator.where(state_id:state.id).count %></td>          

        <td><%= link_to "Delete", "/states/#{state.id}", :method => "delete" %></td>
        <td><%= link_to "Edit", "/states/#{state.id}/edit" %></td>
      </tr>
    <% end %>
  </tbody>
</table>